<div class="combobox">
    <div class="combobox-toogle" [class.active]="isOpenedMenu">
        <input type="text" class="combobox-input" [(ngModel)]="filterValue" (focus)="ToogleMenu(true)" [id]="idName" autocomplete="off" />
        <span class="combobox-caret " (click)="ToogleMenu(!isOpenedMenu)">
              <i class="fa" [ngClass]="{'fa-caret-down': !filterValue && dropdown,'fa-remove': filterValue}"></i>
        </span>
    </div>
    <ul role="menu" *ngIf="dropdown && isOpenedMenu" class="combobox-menu" >
         <li role="menuitem" class="combobox-item"  (click)="SelectElement()" *ngIf="(dataList | dataFilter :filterValue :display).length === 0">
            {{'COMBOBOX.NO_DATA' | translate}}
        </li>
        <li role="menuitem" class="combobox-item" *ngFor="let item of (dataList | dataFilter :filterValue :display)" 
        (click)="SelectElement(item)" [class.active]="isActive(item)">
            {{item[display]}}
        </li>
    </ul>
</div>
