<div class="wblg-sub-nav unprintable" >
	<button class="btn btn-light" [routerLink]="['/railcars', 'add']" >
		  <i class="fa fa-plus"></i> {{'BUTTON.ADD' | translate}}
	</button>
	<button class="btn btn-light" [routerLink]="['/railcars', 'file']" > 
		  <i class="fa fa-plus"></i> {{'BUTTON.LOAD' | translate}}
	</button>

	<button class="btn btn-light" [routerLink]="['/railcars', '1']" > 
		   <i class="fa fa-edit"></i> {{'BUTTON.EDIT' | translate}}
	</button>
	<button class="btn btn-light">
		 <i class="fa fa-remove"></i> 	{{'BUTTON.DELETE' | translate}}
	</button>
	<button class="btn btn-light"  [routerLink]="['/railcars', 'view']">
		    <i class="fa fa-bars"></i> {{'BUTTON.VIEW' | translate}}
	</button>

	<button class="btn btn-light" (click)="setRefresh()"> 
		   <i class="fa fa-refresh" ></i> {{'BUTTON.REFRESH' | translate}}
	</button>
</div>

<router-outlet class="set-child-class-by"></router-outlet>
<div></div> 

<wblg-disparity-list class="wblg-disparity-list  unprintable"></wblg-disparity-list>