@import '../../../../variable';

.rows {
    @include flex-main(row);
    @include flex-child($grow: 1);
    @include flex-aling(space-between, stretch);
    margin-top: 22px;

    label {
        display: block;
        width: 150px;
        text-align: left;
    }

    input, select { width: 140px; }
}

.ctrl { margin-left: 10px; }

.button { height: 40px; width: 142px; }

.buttonCancel { margin-left: 150px; }

.btn {
    height: 40px;
}

.flex-container {
    @include flex-main(row);
    @include flex-child($grow: 1);
}

.rows:last-child {
    margin-bottom: 0px;
}