<div>
    <div class="flex-container">
        <h2 style="margin: 0 auto;">{{ title_form }}</h2>

        <div>
            <button (click)="cancel()">
                <i class="fa fa-times-circle"></i>
            </button>
        </div>
    </div>

    <form>
        <div class="rows">
            <label class="label">Login: </label>
            <input type="text" placeholder="Login" [(ngModel)]="currentData.login" name="login" />
        </div>

        <div class="rows">
            <label class="label">Username: </label>
            <input type="text" placeholder="Username" [(ngModel)]="currentData.username" name="username" />
        </div>

        <div class="rows">
            <label class="label">E-mail: </label>
            <input type="text" placeholder="E-mail" [(ngModel)]="currentData.email" name="email" />
        </div>

        <div class="rows">
            <label class="label">Company: </label>
            <select class="label" [(ngModel)]="currentData.company" name="company">
                    <option *ngFor="let list of UsersList">{{ list.company }}</option>
            </select>
        </div>

        <div class="rows">
            <label class="label">Role: </label>
            <select class="label" [(ngModel)]="currentData.role" name="role">
                    <option *ngFor="let role of UserRoleList">{{ role }}</option>
            </select>
        </div>

        <div class="rows">
                <input type="button" style="flex-grow: 1" class="btn btn-light" (click)="checkCondition('add') ? addUser() : updateUser()" value="{{ btnSubmitValue() }}" />
                <input type="button" class="btn btn-light ctrl" *ngIf="checkCondition('edit')" (click)="deleteUser()" value="Delete" />
        </div>
    </form>
</div>