/**
*
* Variables
*
*/

// $background-color: #f6ecd6;
// $base-color-dark: #5e311c;
// $base-color-light: #ffffff; 

// //--> base hovers and active
// $base-hover-color: #d5cac4;
// $base-disabled-color: #ccc;
// $base-active-color: #316fff;

$background-color: #e6e6e6;
$base-color-dark: black;
$base-color-light:  #fff;

//--> base hovers and active
// $base-hover-color: #d5cac4;
// $base-disabled-color: #ccc;
// $base-active-color: #316fff;

$base-hover-color: darkgrey;
$base-disabled-color: #ccc;
$base-active-color: #727aee;

$base-ha-border-width: 2px;
$base-border-width: 2px;

// color-style
$success-color: #9ad6a6;
$error-color: #ff3434;
$warn-color: #f49d52;// #fffaae;
$info-color: #7ebcd9;

// fonts
$base-font-size: 14px;
$base-line-height: 1.1;
$base-font-name: Lora;
$base-font-path: 'assets/fonts/';




/*
 *  Min-sizes of content main page
 *  1024*768( - 50)
 */
$app-min-height: 640px;
$app-min-width: 1000px;

$app-nav-height: 40px;      // 40 * 1
$app-subnav-height: 30px;   // 30 * 1
$app-subtitle-height: 25px; // 25 * 3
$app-filter-height: 50px;   // 50 * 1
$app-footer-height: 20px;   // 20 * 1 //summ = 215px

$app-table-header-height: 75px; // 3 * 75
$app-table-row-height: 20px;    // 10 * 20 // 240+200+200 = 640px

$app-page-routed-height:        calc( 100% - #{($app-nav-height + $app-footer-height)} );
$app-page-main-height:          100%;
$app-table-railcar-list:      $app-table-header-height + 5 * $app-table-row-height;
$app-table-railcar-disparity: $app-table-header-height + 2 * $app-table-row-height;
$app-table-disparity-list:    $app-table-header-height + 2 * $app-table-row-height;

$app-block-railcar-list:      $app-table-railcar-list + $app-subtitle-height + $app-filter-height;
$app-block-railcar-disparity: $app-table-railcar-disparity + $app-subtitle-height;
$app-block-disparity-list:    $app-table-disparity-list + $app-subtitle-height;

// $app-page-routed-height: calc( 100% - #{($app-nav-height + $app-footer-height)} );
// $app-page-main-height: 100%;

// app-size
$margins: 0;
$paddings: 0;
    //---> 1024x768
$app-margin-left: 12px;
$app-margin-top: 6px;

$temp-app-margins-left: ((2 * $app-margin-left) + (2 * $base-border-width));
$temp-app-margins-top: ((2 * $app-margin-top) + (2 * $base-border-width));

$app-height: calc( 100% - #{$temp-app-margins-top} );
$app-width: calc( 100% - #{$temp-app-margins-left} );

//Navigation
$nav-base-height: $app-nav-height;
$nav-margin: 0;

//Footer
$footer-base-height: $app-footer-height;
$footer-margin: 0;

/**
*
* Mixins
*
*/
@mixin flex-main($direction : row, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin flex-aling($row-aling, $col-aling) {
    align-items: $col-aling;
    justify-content: $row-aling;
     
}
@mixin flex-align($row-aling, $col-aling) {
    align-items: $col-aling;
    justify-content: $row-aling;
}

@mixin flex-child($base-size: auto, $grow : 0, $shrink: 1) {
    flex-basis: $base-size;
    flex-grow: $grow;
    flex-shrink: $shrink;
}


@mixin hovered () {
    color: $base-hover-color;
    border-color: $base-hover-color;
}
@mixin hovered-dark() {
    color: darken($base-hover-color, 40%);
    border-color: darken($base-hover-color, 40%);
}

@mixin actived-color () {
    color: $base-active-color;
    border-color: $base-active-color;
    // outline: $base-ha-border-width solid$base-active-color;
}
@mixin actived-back () {
    background-color: $base-active-color;
}

@mixin titled () {
    font-weight: bold;
    font-style: italic;
}

@mixin include-font($name, $url, $bold : normal, $style:normal) {
    @font-face {
        font-family: $name;
        src: url($base-font-path + $url);
        font-weight: $bold ;
        font-style: $style;
    }
}