<header class="wblg-sub-title heigh2x">
    {{ 'Add | edit railcars http:#/railcar/add;template=1;' | translate }}
    <div class="btns">
        <button class="btn btn-light" (click)="clone()"> use ass template </button>
        <!--<button class="btn btn-light" [class.btn-active]="isVisibleAddAsFile" (click)="setVisibleAddAsFile()"> {{'BUTTON.LOADFILE' | translate}}</button>-->
    </div>
</header>


<form class="form-main form-cols" #railcarsForm="ngForm">
    <!-- TODO: Bookmark | RailcarsElement | manual add block | base-data numbers -->
    <div role="group" class="form-fieldset form-rows fixed-3x-subtitle ">

        <!-- TODO: Bookmark | RailcarsElement | manual add block | transportnumber -->
        <div role="group" class="form-fieldset form-cols ">
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!transportnumber.valid}">
                <label class="label-control" for="transportnumber"> 
                        <span class = "span-overflow"> {{ 'TABLE.transportnumber' | translate}} </span>
                        <wblg-alert  type="warn" small="true" [open]="transportnumber.errors?.required"></wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <input type="text" [(ngModel)]="railcar.transportnumber" id="transportnumber" name="transportnumber" #transportnumber="ngModel"
                        required="true" minlength="8" />
                    <wblg-alert [message]="'VALUE.ERROR'" type="error" small="true" [open]="!transportnumber.valid && !transportnumber.errors?.required">
                    </wblg-alert>
                </div>
            </div>
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!sampleroutdate.valid}">
                <label class="label-control" for="sampleroutdate">
                    <span class = "span-overflow"> {{ 'TABLE.sampleroutdate' | translate}}  </span>
                    <wblg-alert  type="warn" small="true"  [open]="sampleroutdate.errors?.required">
                    </wblg-alert>
                 </label>
                <div class="div-control form-cols">
                    <my-date-picker [(ngModel)]="railcar.sampleroutdate" [id]="sampleroutdate" name="sampleroutdate" #sampleroutdate="ngModel"
                        required="true" [clear]="false">
                    </my-date-picker>
                </div>
            </div>
        </div>
        <!-- end transportnumber -->

        <!-- TODO: Bookmark | RailcarsElement | manual add block | invoicenumber -->
        <div role="group" class="form-fieldset form-cols ">
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!invoicenumber.valid}">
                <label class="label-control" for="invoicenumber">
                     <span class = "span-overflow"> {{ 'TABLE.invoicenumber' | translate}} </span>
                      <wblg-alert type="warn" small="true" [open]="invoicenumber.errors?.required"> </wblg-alert>
                 </label>
                <div class="div-control form-cols">
                    <input type="text" id="invoicenumber" [(ngModel)]="railcar.invoicenumber" name="invoicenumber" #invoicenumber="ngModel" required/>
                </div>
            </div>
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!invoicedate.valid}">
                <label class="label-control" for="invoicedate">
                    <span class = "span-overflow"> {{ 'TABLE.invoicedate' | translate}} </span>
                    <wblg-alert  type="warn" small="true" [open]="invoicedate.errors?.required"></wblg-alert>
                </label>

                <div class="div-control form-cols">
                    <my-date-picker [(ngModel)]="railcar.invoicedate" [id]="invoicedate" name="invoicedate" #invoicedate="ngModel" [clear]="false"
                        required="true">
                    </my-date-picker>
                </div>
            </div>
        </div>
        <!-- end invoicenumber -->

        <!-- TODO: Bookmark | RailcarsElement | manual add block | footer-->
        <div class=" form-footer form-cols ">
            <div class="btns">
                <button class="btn btn-dark">Save</button>
                <button class="btn btn-light">Cancel</button>
            </div>
            <div class="div-control form-cols">
                <wblg-alert [message]="'VALUE.REQUIRED'" [type]="'warn'" [small]="true" [modal]="false" [open]="true"> </wblg-alert>
                <wblg-alert [message]="'VALUE.ERROR'" [type]="'error'" [small]="true" [modal]="false" [open]="true">
                </wblg-alert>
            </div>

        </div>
        <!-- end footer-->
    </div>
    <!-- end base-data numbers -->


    <!-- TODO: Bookmark | RailcarsElement | manual add block | divider -->
    <div class="divider-horz"></div>

    <!-- TODO: Bookmark | RailcarsElement | manual add block | railcars info -->
    <div role="group" class="form-fieldset form-rows">

        <!-- TODO: Bookmark | RailcarsElement | manual add block | clients -->
        <div role="group" class="form-fieldset form-cols">

            <!-- TODO: Bookmark | RailcarsElement | manual add block | clients/ownername -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!ownername.valid}">
                <label class="label-control" for="ownername"> 
                         <span class = "span-overflow">{{ 'TABLE.ownername' | translate}} </span>
                         <wblg-alert [type]="'warn'" [small]="true" [modal]="false" [open]="ownername.errors?.required">
                        </wblg-alert>
                     </label>
                <div class="div-control form-cols">
                    <wblg-combobox [(ngModel)]="railcar.ownername" [dropdown]="true" [data]="_owners" id="ownername" name="ownername" required="true"
                        #ownername="ngModel">
                    </wblg-combobox>
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | clients/providername -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!providername.valid}">
                <label class="label-control" for="providername"> 
                         <span class = "span-overflow">{{ 'TABLE.providername' | translate}} </span>
                         <wblg-alert [type]="'warn'" [small]="true" [modal]="false" [open]="providername.errors?.required">
                        </wblg-alert>
                     </label>
                <div class="div-control form-cols">
                    <wblg-combobox [(ngModel)]="railcar.providername" [dropdown]="true" [data]="_providers" id="providername" name="providername"
                        required="true" #providername="ngModel">
                    </wblg-combobox>
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | clients/sendernname -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!sendernname.valid}">
                <label class="label-control" for="sendernname"> 
                         <span class = "span-overflow">{{ 'TABLE.sendernname' | translate}} </span>
                         <wblg-alert [type]="'warn'" [small]="true" [modal]="false" [open]="sendernname.errors?.required">
                        </wblg-alert>
                     </label>
                <div class="div-control form-cols">
                    <wblg-combobox [(ngModel)]="railcar.sendernname" [dropdown]="true" [data]="_senders" id="sendernname" name="sendernname"
                        required="true" #sendernname="ngModel">
                    </wblg-combobox>
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | clients/contractid -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!contractid.valid}">
                <label class="label-control" for="contractid"> 
                        <span class = "span-overflow"> {{ 'TABLE.contractid' | translate}}</span> 
                        <wblg-alert  [type]="'warn'" [small]="true" [modal]="false" [open]="contractid.errors?.required"></wblg-alert>
                     </label>
                <div class="div-control form-cols">
                    <input [(ngModel)]="railcar.contractid" id="contractid" name="contractid" #contractid="ngModel">
                </div>
            </div>

            <div class="divider-horz"></div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | clients/stationname -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!stationname.valid}">
                <label class="label-control" for="stationname"> 
                        <span class = "span-overflow"> {{ 'TABLE.stationname' | translate}} </span> 
                         <wblg-alert [type]="'warn'" [small]="true" [modal]="false" [open]="stationname.errors?.required">  </wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <wblg-combobox [(ngModel)]="railcar.stationname" name="stationname" #stationname="ngModel" required [dropdown]="true" [data]="_stations"
                        id="stationname">
                    </wblg-combobox>
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | clients/storagename -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!storagename.valid}">
                <label class="label-control" for="storagename"> 
                         <span  class = "span-overflow">{{ 'TABLE.storagename' | translate}}</span>
                         <wblg-alert [type]="'warn'" [small]="true" [modal]="false" [open]="storagename.errors?.required"></wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <wblg-combobox type="text" [(ngModel)]="railcar.contractid" name="storagename" #storagename="ngModel" required [dropdown]="true"
                        id="storagename" [data]="_srorages"></wblg-combobox>
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | cultures & weight/scaletypename -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!scaletypename.valid}">
                <label for="scaletypename" class="label-control">
                        <span class = "span-overflow">{{ 'TABLE.scaletypename' | translate}} </span>
                        <wblg-alert  [type]="'warn'" [small]="true" [modal]="false" [open]="scaletypename.errors?.required"></wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <wblg-combobox type="text" [(ngModel)]="railcar.scaletypename" name="scaletypename" #scaletypename="ngModel" [dropdown]="true"
                        id="scaletypename" [data]="_scales"></wblg-combobox>
                </div>
            </div>

        </div>
        <!-- end clients -->


        <!-- TODO: Bookmark | RailcarsElement | manual add block | cultures & weight  -->
        <div role="group" class="form-fieldset form-cols">

            <!-- TODO: Bookmark | RailcarsElement | manual add block | cultures & weight/cropfname -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!cropfname.valid}">
                <label for="cropfname" class="label-control"> 
                        <span class = "span-overflow"> {{ 'TABLE.cropfname' | translate}}</span>
                         <wblg-alert  [type]="'warn'" [small]="true" [modal]="false" [open]="cropfname.errors?.required"></wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <wblg-combobox type="text" [(ngModel)]="railcar.cropfullname" name="cropfname" #cropfname="ngModel" required="true" [dropdown]="true"
                        [data]="_cultures" id="cropfname"> </wblg-combobox>
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | cultures & weight/classname -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!classname.valid}">
                <label for="classname" class="label-control"> 
                        <span class = "span-overflow"> {{ 'TABLE.classname' | translate}}</span>
                         <wblg-alert  [type]="'warn'" [small]="true" [modal]="false" [open]="classname.errors?.required"></wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <wblg-combobox type="text" [(ngModel)]="railcar.cropfullname" name="classname" #classname="ngModel" required="true" [dropdown]="true"
                        [data]="_cultures" id="classname"> </wblg-combobox>
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | cultures & weight/sortname -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!sortname.valid}">
                <label for="sortname" class="label-control"> 
                        <span class = "span-overflow"> {{ 'TABLE.sortname' | translate}}</span>
                         <wblg-alert  [type]="'warn'" [small]="true" [modal]="false" [open]="sortname.errors?.required"></wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <wblg-combobox type="text" [(ngModel)]="railcar.cropfullname" name="sortname" #sortname="ngModel" required="true" [dropdown]="true"
                        [data]="_cultures" id="sortname"> </wblg-combobox>
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | cultures & weight/cropfyear -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!cropfyear.valid}">
                <label class="label-control" for="cropfyear">
                        <span class = "span-overflow"> {{ 'TABLE.cropfyear' | translate}} </span>  
                        <wblg-alert [type]="'warn'" [small]="true" [modal]="false" [open]="cropfyear.errors?.required"> </wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <input type="text" [(ngModel)]="railcar.stationname" name="cropfyear" #cropfyear="ngModel" required id="cropfyear">
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | cultures & weight/gmopresence -->
            <div class="form-field form-rows">
                <label for="gmopresence" class="label-control margin-label ">   
                        <input type="checkbox" [(ngModel)]="railcar.gmopresence" name="gmopresence" id="gmopresence">
                        <span class = "span-overflow"> {{ 'TABLE.gmopresence' | translate}}</span>
                     </label>
            </div>

            <div class="divider-horz"></div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | cultures & weight/invoicetare -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!invoicetare.valid}">
                <label class="label-control" for="invoicetare"> 
                         <span class = "span-overflow">{{ 'TABLE.invoicetare' | translate}}</span>
                          <wblg-alert [type]="'warn'" [small]="true" [modal]="false" [open]="invoicetare.errors?.required"> </wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <input type="text" [(ngModel)]="railcar.invoicetare" name="invoicetare" #invoicetare="ngModel" required id="invoicetare">
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | cultures & weight/invoicenet -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!invoicenet.valid}">
                <label class="label-control" for="invoicenet"> 
                         <span class = "span-overflow">{{ 'TABLE.invoicenet' | translate}}</span>
                          <wblg-alert [type]="'warn'" [small]="true" [modal]="false" [open]="invoicenet.errors?.required"> </wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <input type="text" [(ngModel)]="railcar.invoicenet" name="invoicenet" #invoicenet="ngModel" required id="invoicenet">
                </div>
            </div>

            <!-- TODO: Bookmark | RailcarsElement | manual add block | cultures & weight/invoicegross -->
            <div class="form-field form-rows" [ngClass]="{ 'error-message':!invoicegross.valid}">
                <label class="label-control" for="invoicegross"> 
                         <span class = "span-overflow">{{ 'TABLE.invoicegross' | translate}}</span>
                          <wblg-alert [type]="'warn'" [small]="true" [modal]="false" [open]="invoicegross.errors?.required"> </wblg-alert>
                    </label>
                <div class="div-control form-cols">
                    <input type="text" [(ngModel)]="railcar.invoicegross" name="invoicegross" #invoicegross="ngModel" required id="invoicegross">
                </div>
            </div>
        </div>
        <!--end cultures & weight  -->
    </div>
    <!-- end railcars info -->
</form>



<!--<wblg-alert [message]  = "message"  [type]="'info'"  [modal]="false" [open]="!isVisible" ></wblg-alert>-->