@import '../../variable';


:host {
    @include flex-main(column);
    @include flex-child($app-block-disparity-list, 1);

    min-height: $app-block-disparity-list,;
}

.wblg-sub-title {
    background-color: $base-color-dark;
    color: $base-color-light;

    height: $app-subtitle-height;
    min-height: $app-subtitle-height;
    max-height: $app-subtitle-height;

    @include flex-main(row);
    @include flex-aling(space-between, center);
    @include flex-child($app-subtitle-height);

    @include titled();

    .btn {
        padding: 2px 4px;
        margin: 2px 5px;    
        max-width: 10em;
  
    }

}

.table-view {
    // min-height: $app-table-disparity-list;
    height: $app-table-disparity-list;
    min-height: $app-table-disparity-list;
    width: 100%;
    @include flex-child($app-table-disparity-list, 1);
}




// TODO: ErrorModal
.error-message {
    @include flex-main(column);
    box-shadow: 3px 3px 3px 3px $error-color;
    margin: 10px 20px;
    padding: 10px;
    padding-bottom: 20px;
    .title {
        font-size: 1.5 * $base-font-size;
        @include titled;
        //border: 2px solid $error-color;
        text-decoration: underline;

    }
    .txt {
        margin-left: 50px;
    }
}

.info-message {
    @include flex-main(column);
    box-shadow: 3px 3px 3px 3px $info-color;
    margin: 10px 20px;
    padding: 10px;
    padding-bottom: 20px;
    .title {
        font-size: 1.5 * $base-font-size;
        @include titled;
        //border: 2px solid $error-color;
        text-decoration: underline;

    }
    .txt {
        margin-left: 50px;
    }
}