@import '../../variable';


:host {
    @include flex-main(column);
    @include flex-child(150px, 6, 1);

    max-height: 150px;
}

.wblg-sub-title {
    background-color: $base-color-dark;
    color: $base-color-light;

    height: 25px;
    min-height: 25px;
    max-height: 25px;

    @include flex-main(row);
    @include flex-aling(space-between, center);
    @include flex-child(25px);

    @include titled();

    .btn {
        padding: 2px 4px;
        margin: 2px 5px;    
        max-width: 10em;
  
    }

}
// .table-view {
//     flex-grow: 5;
//     min-height: 125px;
//     overflow: scroll;
// }




// TODO: ErrorModal
.error-message {
    @include flex-main(column);
    box-shadow: 3px 3px 3px 3px $error-color;
    margin: 10px 20px;
    padding: 10px;
    padding-bottom: 20px;
    .title {
        font-size: 1.5 * $base-font-size;
        @include titled;
        //border: 2px solid $error-color;
        text-decoration: underline;

    }
    .txt {
        margin-left: 50px;
    }
}

.info-message {
    @include flex-main(column);
    box-shadow: 3px 3px 3px 3px $info-color;
    margin: 10px 20px;
    padding: 10px;
    padding-bottom: 20px;
    .title {
        font-size: 1.5 * $base-font-size;
        @include titled;
        //border: 2px solid $error-color;
        text-decoration: underline;

    }
    .txt {
        margin-left: 50px;
    }
}