<nav *ngIf="_isLogined" class="wblg-nav-links">
    <a class="btn btn-dark btn-flat " [routerLink]="['/railcars']" routerLinkActive="btn-active"> 
        {{'NAV.RAILCARS' | translate }}
    </a>
    <a class="btn btn-dark btn-flat " routerLinkActive="btn-active" [routerLink]="['/report']">
         {{'NAV.REPORT' | translate }} 
    </a>
    <a class="btn btn-dark btn-flat " routerLinkActive="btn-active" [routerLink]="['/settings']">
         {{'NAV.SETTINGS' | translate}} 
    </a>
</nav>

<div *ngIf="!_isLogined" class="wblg-nav-message">{{'COMPANY.NAME' | translate }}</div>

<a class="btn btn-dark btn-flat" routerLinkActive="btn-active" [routerLink]="['/login']" (click)="logout()" > 
        {{'NAV.USERS' | translate }}
</a>
