@import '../../variable';


:host {
    @include flex-main(column);
    // @include flex-child(225px, 9, 1);

    // min-height: 255px;
}

.wblg-sub-title {
    background-color: $base-color-dark;
    color: $base-color-light;

    height: 25px;
    min-height: 25px;
    max-height: 25px;

    @include flex-main(row);
    @include flex-aling(space-between, center);
    @include flex-child(25px);

    @include titled();

    .btn, .div-input-view {
        padding: 2px 4px;
        margin: 2px 5px;    
     }
    
     .btn {
         max-width: 10em;
     }
    .date-div {
        align-self: stretch;
        @include flex-main(row);
        @include flex-child(50%);
        @include flex-aling(flex-end, stretch);
    }

}



.filter {
    @include flex-main(row);
    @include flex-child(50px);
    @include flex-aling( space-between, center);

.filter {
    @include flex-child($grow: 1);
}


    .btn {
        max-height: 40px;
        margin: auto 10px;
    }
}

.table-view {
    // min-height: $app-table-disparity-list;
    height: $app-table-railcar-list;
    min-height: $app-table-railcar-list;
    width: 100%;
    @include flex-child($app-table-railcar-list, 1);
}


.div-input-view {
    /*flex-basis: 110px;*/
    @include flex-main(row);
    @include flex-aling(center, center);
    margin: auto 4px;
    // display: flex;
    // flex-direction: column;
}

.div-input-view input,
.div-input-view select,
.div-input-view my-date-picker  {
    display: inline-block;
    // width: 100%;
}

.div-input-view label {
    font-size: 0.9em;
    font-style: italic;
    margin: auto 4px;
}



// // TODO: ErrorModal
// .error-message {
//     @include flex-main(column);
//     box-shadow: 3px 3px 3px 3px $error-color;
//     margin: 10px 20px;
//     padding: 10px;
//     padding-bottom: 20px;
//     .title {
//         font-size: 1.5 * $base-font-size;
//         @include titled;
//         //border: 2px solid $error-color;
//         text-decoration: underline;

//     }
//     .txt {
//         margin-left: 50px;
//     }
// }

