<div class="wblg-sub-title">
    {{ 'List of railcars' | translate }}
    <div class="date-div">
        <div class="div-input-view">
            <label> {{ 'LABEL.FROM'| translate}} </label>
            <div>
                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="log($event);" [selDate]="dateStart">
                </my-date-picker>
            </div>
        </div>

        <div class="div-input-view">
            <label>{{ 'LABEL.TO'| translate}} </label>
            <div>
                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="log($event);" [selDate]="dateEnd">
                </my-date-picker>
            </div>
        </div>
    </div>
</div>

<div class="filter">
    <div class="filter">
        <wblg-combobox *ngFor="let f_item of FiltersData" [label]="f_item.label" [(value)]="f_item.value" (valueChange)="f_item.value = $event; log(f_item.value)"
            [dropdown]="f_item.dropdown" [data]="f_item.data">
        </wblg-combobox>
    </div>
    <button class="btn btn-dark" (click)="setFilters()"> 
       <i class="fa fa-filter"></i> {{'SUBNAV.FILTER' | translate}}
    </button>
</div>


<!--<div *ngIf="isNotNull">-->
<ag-grid-ng2 #agGrid class="ag-fresh table-view" [gridOptions]="gridOptions" [rowData]="RailcarList">
</ag-grid-ng2>
<!--</div>-->

<!--TODO: ErrorModal-->
<!--<div class="error-message" *ngIf="!isNotNull">
    <div class="title">
        <span class="fa-stack" aria-hidden="true"> 
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-remove fa-stack-1x fa-inverse"></i>
        </span> {{ ' Error '}}
    </div>
    <div class="txt">
        {{ message }}
    </div>
</div>-->
<!--<div class="info-message" *ngIf="!isNotNull">
        <div class="title">
            <span class="fa-stack" aria-hidden="true"> 
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-info fa-stack-1x fa-inverse"></i>
        </span> {{'Info text'}}
        </div>
        <div class="txt">
            {{ message }}
        </div>
    </div>-->