@import '../../variable';

.wblg-sub-nav {
    background-color: $base-hover-color;
    color: $base-color-dark;
    height:  30px;
    min-height: 30px;
    max-height: 30px;

    @include flex-main(row);
    @include flex-aling(flex-start, center);
    @include flex-child(30px);


    .btn {
        max-height: 25px;
        margin:0 5px;
    }
}

.wblg-sub-title {
        background-color: $base-color-dark;
    color: $base-color-light;

    height: 20px;
    min-height: 20px;
    max-height: 20px;

        @include flex-main(row);
    @include flex-aling(flex-start, center);
    @include flex-child(20px);

    @include titled();

}