<div class="wblg-sub-nav">
  	<button class="btn btn-light"> <i class="fa fa-plus"></i> {{'SUBNAV.ADD'}}</button>
   	<button class="btn btn-light"> <i class="fa fa-edit"></i> {{'SUBNAV.EDIT'}}</button>
    <button class="btn btn-light"> <i class="fa fa-remove"></i> {{'SUBNAV.DELETE'}}</button>
   	<button class="btn btn-light"> <i class="fa fa-bars"></i> {{'SUBNAV.VIEW'}}</button>
   	<button class="btn btn-light"> <i class="fa fa-refresh"></i> {{'SUBNAV.REFRESH'}}</button>
</div>

<wblg-railcar-list class="wblg-railcar-list"></wblg-railcar-list>

<wblg-disparity-railcar class="wblg-railcar-disparity"></wblg-disparity-railcar>

<wblg-disparity-list class="wblg-disparity-list"></wblg-disparity-list>
