<div class="wblg-sub-nav">
  	<button class="btn btn-light"> <i class="fa fa-plus"></i> {{'SUBNAV.ADD'}}</button>
   	<button class="btn btn-light"> <i class="fa fa-edit"></i> {{'SUBNAV.EDIT'}}</button>
    <button class="btn btn-light"> <i class="fa fa-remove"></i> {{'SUBNAV.DELETE'}}</button>
   	<button class="btn btn-light"> <i class="fa fa-bars"></i> {{'SUBNAV.VIEW'}}</button>
   	<button class="btn btn-light"> <i class="fa fa-refresh"></i> {{'SUBNAV.REFRESH'}}</button>
</div>

<div class="wblg-sub-title"> 
	List of railcars from <input/> to <input/>
</div>
<div class="wblg-filter">


</div>
<wblg-railcar-list></wblg-railcar-list>

<div class="wblg-sub-title"> 
	Selected railcars: 1234567890
</div>
<wblg-disparity-railcar></wblg-disparity-railcar>

<wblg-disparity-list></wblg-disparity-list>
