<header class="wblg-sub-title">
    <span class="text"> {{ 'Disparity by railcar' }} 
        <span *ngIf="isNotNull"> {{ railcarNumber }}</span>
    </span>
    <div>
        <button class="btn btn-light" (click)="refreshData()"> Refresh {{toRequestLast}}</button>
    </div>
</header>

<!--<div class="table-view">-->
    <!--<div *ngIf="isNotNull" style="width: 100%;">-->
<ag-grid-ng2   #agGrid class="ag-fresh table-view" 
[gridOptions]="gridOptions" 
[rowData] = "DisparityList" 
   >
      </ag-grid-ng2>
    <!--</div>-->

    <div *ngIf="!isNotNull">
        {{ message }}
    </div>
