@import '../../../variable';

:host {
    $temp: ($app-block-railcar-list + $app-block-railcar-disparity );
    @include flex-child($temp, 4);
    min-height:  $temp;

    @include flex-main(column);
    @include flex-align(center, stretch);
}

.wblg-sub-title {
    background-color: $base-color-dark;
    color: $base-color-light;

    height: $app-subtitle-height;
    min-height: $app-subtitle-height;
    max-height: $app-subtitle-height;

    @include flex-main(row);
    @include flex-aling(space-between, center);
    @include flex-child($app-subtitle-height);

    @include titled();

    .btn {
        padding: 2px 4px;
        margin: 2px 5px;    
        max-width: 10em;
      }

      &.iverse {
          background-color: $background-color;
          color: $base-color-dark;
          border-top: 3px solid $base-color-dark;
              @include flex-aling(center, center);

      }

      &.heigh2x {
        height: 1.5 * $app-subtitle-height;
        min-height: 1.5 *$app-subtitle-height;
        max-height: 1.5 *$app-subtitle-height;
        @include flex-child(1.5 * $app-subtitle-height);
      }

}

.form-main {
    @include flex-child($grow: 1);

    @include flex-align ( space-between, stretch); 
    margin: 2px;
    border: 1px solid $base-color-dark;
}

.form-cols {
    @include flex-main(column);
}

.form-rows {
    @include flex-main(row);
}

.form-fieldset {
    margin: 0;
    border: none;
    @include flex-child( $grow: 1);
    @include flex-align ( space-around, stretch); 
}

.form-field {
    @include flex-align (flex-start, stretch);  
    @include flex-child($grow: 1);
    
    border-left: 2px solid $base-color-dark;
    padding: 4px;
    margin: 2px 10px;
    font-style: italic;

    // validation 
    &.warn-message {
       border-left: 2px solid $warn-color;
       & > .label-control {
            color: $warn-color;
      }
    }

    &.error-message {
        border-left: 2px solid $error-color;
                .label-control {
            color: $error-color;
        }
    }

    &.success-message {
        border-left: 2px solid $success-color;
       
        & > .label-control {
            color: $success-color;
        }
    }

    // wrapper
    &.form-rows {
         .div-control {
             @include flex-child(55%, 1);
         }

         .label-control {
             @include flex-child(45%, 1);
         }
    }
    &.form-cols {
         & > .div-control {
             @include flex-child($grow: 1);
         }

         & > .label-control {
             @include flex-child($grow: 1);
         }
    }

    .div-control {
        @include flex-align(center, flex-start);
        margin: 0;

        & > * {
            width: 100%;
        }
    }

    input[type=file] {
        background-color: $base-color-light;
    }
       
    input[type=checkbox] {
        height: $base-font-size;
        width:  $base-font-size;
        margin-right: 2px;
    }

    textarea {
        resize: none;
        @include flex-child($grow: 1);
    }

    .label-control {
        @include flex-main(row);
        @include flex-align(flex-start, center);
        min-width: 0;
        
        & > .span-overflow {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .margin-label {
        margin-left: 45%;
    }
}

.form-footer {
     @include flex-child(30%);
     @include flex-align( flex-end, stretch);
     margin: 2px 10px;

     .btn {
           margin-right: 2px;
     }
}

.self-end {
    align-self: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.grow-all {
    @include flex-child($grow: 1);
}

.btns {
        @include flex-main(row);
        @include flex-child($grow: 1);
        @include flex-align(  flex-end, center);

        .btn {
            min-width: 8em;
            min-height: 25px;
        }
}

.fixed-2x-subtitle  {
    max-height: 2 * $app-subtitle-height;
    @include flex-child(2 * $app-subtitle-height);
    min-height: 2 * $app-subtitle-height;
}
.fixed-3x-subtitle  {
    max-height: 3 * $app-subtitle-height;
    @include flex-child(3 * $app-subtitle-height);
    min-height: 3 * $app-subtitle-height;
}
.fixed-4x-subtitle  {
    max-height: 4 * $app-subtitle-height;
    @include flex-child(4 * $app-subtitle-height);
    min-height: 4 * $app-subtitle-height;
}

.divider-horz {
    border-top: 1px solid $base-color-dark;
    height: 1px;
    max-height: 1px;
    margin: 2px 10px;
}
