<div class="wblg-sub-nav">
  	<button class="btn btn-light" (click)="defineActiveButton('add')"> <i class="fa fa-plus"></i> {{ 'BUTTON.ADD_USER' | translate }}</button>
   	<button class="btn btn-light" (click)="defineActiveButton('edit')"> <i class="fa fa-edit"></i> {{'BUTTON.EDIT_USER' | translate }}</button>
    <button class="btn btn-light" (click)="defineActiveButton('delete')"> <i class="fa fa-remove"></i> {{'BUTTON.DELETE_USER' | translate }}</button>
</div>

<wblg-userlist [(selectedButton)]="selectedButton"></wblg-userlist>